{% extends 'base.html' %}

{% block title %}
  Image Processing
{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-dark">
            <div class="card-body">
              <h5 class="card-title">Upload Image</h5>

                <form id="uploadImage" action="/upload" method="post">
                    <div id="upload-form" class="form-group files">
<!--                        <label>File Upload</label>-->
                        <input id="uploadFile" type="file" name="uploadFile" class="form-control" accept=".jpg, .jpeg, .png" />
                    </div>
                    <div id="upload-btn" class="form-group">
                        <input type="submit" id="uploadSubmit" value="Upload" class="btn btn-outline-info mt-3" />
                    </div>

                    <div id="targetLayer" style="display:none;"></div>
                </form>

                 <div class="loading justify-content-center" id="loader-icon" style="display:none;">
                    <img class="loading-img img-fluid" src="/static/img/loader.svg"/>
                </div>

              <div id="Enhancement-btn" class="formAlign mt-3" style="display:none;">
                  <button id='he' class='btn btn-outline-primary btn-analysis '>HE</button>
                  <button id='dhe' class='btn btn-outline-primary btn-analysis '>DHE</button>
                  <button id='eff' class='btn btn-outline-primary btn-analysis'>EFF</button>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card border-dark">
            <div class="card-body">
                <h5 class="card-title">Processed Image</h5>
                <div id="displayLayer" style="display:none;"></div>

                <div id="instructions" class="alert alert-dark mb-0">
                  <h4 class="alert-heading">Image Processing Methods:</h4>
                    <h6 class="mb-0 mt-4">&emsp;<strong>HE</strong> (Histogram Equalization)</h6>
                    &emsp;&emsp;- Simple and Fast
                    <h6 class="mb-0 mt-2">&emsp;<strong>DHE</strong> (Dynamic Histogram Equalization)</h6>
                    &emsp;&emsp;- Slow but Efficient
                    <h6 class="mb-0 mt-2">&emsp;<strong>EFF</strong> (Exposure Enhancement)</h6>
                    &emsp;&emsp;- Better For Low Light Images
                </div>

                <div class="loading justify-content-center" id="process-icon" style="display:none;">
                    <img class="loading-img img-fluid" src="/static/img/loader.svg"/>
                </div>
<!--                <div id="instructions" class="form-control" style="display:none;">-->
<!--                </div>-->
                <form action = "download" enctype="multipart/form-data">
                    <button id="download-btn" type="submit" value="submit" class="btn btn-outline-info align-self-end mt-3" disabled>Download</button>
                </form>
            </div>
          </div>

        </div>
      </div>
  </div>


{% endblock %}