{% extends 'base.html' %}

{% block title %}
  Image Enhancement
{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-dark">
            <div class="card-body">
              <h5 class="card-title">Upload Image</h5>

                <form id="uploadImage" action="/upload" method="post">
                    <div id="upload-form" class="form-group files">
<!--                        <label>File Upload</label>-->
                        <input id="uploadFile" type="file" name="uploadFile" class="form-control" accept=".jpg, .jpeg, .png" />
                    </div>
                    <div id="upload-btn" class="form-group">
                        <input type="submit" id="uploadSubmit" value="Upload" class="btn btn-outline-info mt-3" />
                    </div>

                    <div id="targetLayer" style="display:none;"></div>
                </form>

                 <div class="loading justify-content-center" id="loader-icon" style="display:none;">
                    <img class="loading-img img-fluid" src="/static/img/loader.svg"/>
                </div>

              <div id="Enhancement-btn" class="formAlign mt-3" style="display:flex;">
                  <button id='he' class='btn btn-outline-primary btn-analysis '>HE</button>
                  <button id='dhe' class='btn btn-outline-primary btn-analysis '>DHE</button>
                  <button id='eff' class='btn btn-outline-primary btn-analysis'>EFF</button>
                  <button type="button" class="btn btn-outline-primary btn-analysis" data-toggle="modal" data-target="#effModal">
                    EFF modal
                  </button>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card border-dark">
            <div class="card-body">
                <h5 class="card-title">Enhanced Image</h5>
                <div id="displayLayer" style="display:none;"></div>

                <div id="instructions" class="alert alert-dark mb-0">
                  <h4 class="alert-heading">Image Enhancement Methods:</h4>
                    <h6 class="mb-0 mt-4">&emsp;<strong>HE</strong> (Histogram Equalization)</h6>
                    &emsp;&emsp;- Simple and Fast
                    <h6 class="mb-0 mt-2">&emsp;<strong>DHE</strong> (Dynamic Histogram Equalization)</h6>
                    &emsp;&emsp;- Slow but Effective
                    <h6 class="mb-0 mt-2">&emsp;<strong>EFF</strong> (Exposure Enhancement)</h6>
                    &emsp;&emsp;- Slow but You can control Enhancement
                </div>

                <div class="loading justify-content-center" id="process-icon" style="display:none;">
                    <img class="loading-img img-fluid" src="/static/img/loader.svg"/>
                </div>
<!--                <div id="instructions" class="form-control" style="display:none;">-->
<!--                </div>-->
                <form action = "download" enctype="multipart/form-data">
                    <button id="download-btn" type="submit" value="submit" class="btn btn-outline-info align-self-end mt-3" disabled>Download</button>
                </form>
            </div>
          </div>

        </div>
      </div>
  </div>

<div class="modal fade" id="effModal" tabindex="-1" role="dialog" aria-labelledby="effModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="effModalLabel">EFF</h5>
      </div>

      <div class="modal-body">

          <form id="eff-data" class="form-inline">
              <div class="row mb-3">
                  <div class="col-2">
                    <label for="gammaRange">Gamma</label>
                  </div>
                  <div class="col">
                   <input type="range" class="form-control bg-dark" min="0" max="1.0" step="0.01" id="gammaRange" value="0.6">
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-2">
                    <label for="lambdaRange">Lambda</label>
                  </div>
                  <div class="col">
                   <input type="range" class="form-control bg-dark" min="0" max="1.0" step="0.1" id="lambdaRange" value="0.15">
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-2">
                    <label for="sigmaRange">Sigma</label>
                  </div>
                  <div class="col">
                   <input type="range" class="form-control bg-dark" min="0" max="100" step="1" id="sigmaRange" value="3">
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-2">
                    <label for="bcRange">BC</label>
                  </div>
                  <div class="col">
                   <input type="range" class="form-control bg-dark" min="0" max="1.0" step="0.1" id="bcRange" value="1.0">
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-2">
                    <label for="bsRange">BS</label>
                  </div>
                  <div class="col">
                   <input type="range" class="form-control bg-dark" min="0" max="1.0" step="0.1" id="bsRange" value="1.0">
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-2">
                    <label for="beRange">BE</label>
                  </div>
                  <div class="col">
                   <input type="range" class="form-control bg-dark" min="0" max="1.0" step="0.1" id="beRange" value="1.0">
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-2">
                    <label for="epsRange">EPS</label>
                  </div>
                  <div class="col">
                   <input type="range" class="form-control bg-dark" min="1e-10" max="1e10" step="0.1" id="epsRange" value="1e-3">
                  </div>
              </div>

            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">EFF</button>
            </div>

          </form>

      </div>
    </div>
  </div>
</div>


{% endblock %}