{% extends 'base.html' %}

{% block title %}
  Image Enhancement
{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Upload Image</h5>

              <form action = "/uploader" method = "POST" enctype = "multipart/form-data">

                  <div class="form-group files">
                  <input type="file" name="file" class="form-control">
                </div>

                <button id="upload" type="submit" value="submit" class="btn btn-secondary mt-10">Upload</button>

              </form>
                <hr>
              <div class="formAlign">

                <button id='dhe' class='btn btn-primary btn-analysis'>DHE</button>
                <button id='he' class='btn btn-primary btn-analysis'>HE</button>
                <button id='eff' class='btn btn-primary btn-analysis'>EFF*</button>

              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Enhanced Image</h5>
              <form action = "download" enctype="multipart/form-data">
                <button type="submit" value="submit" class="btn btn-primary btn-analysis">Download</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}