{% extends 'base.html' %}

{% block title %}
  Image Processing
{% endblock %}
{% block content %}
    <div class="container">
         {% for record in records %}
              <div class="card col d-flex justify-content-between text-center">
                <div class="card-body imgAlign">

                    <div class="card col cardLayout border-success">
                        <img class="imgLayout rounded-top" src="static/uploads/{{record.upload}}">
                        <div class="card-footer text-muted">
                            Uploaded Image
                        </div>
                        <div class="overlay"></div>
                        <div class="button">
                            <a href="static/uploads/{{record.upload}}" download>
                                <img src="../static/img/download.png" width="64"/>
                            </a>
                        </div>
                    </div>

                    <div class="card col cardLayout border-info">
                        {% if record.he != None %}
                               <img class="imgLayout rounded-top" src="static/outputs/{{record.he}}">
                            {% endif %}
                        <div class="card-footer text-muted">
                            {% if record.he != None %}
                                Enhanced with HE
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="static/outputs/{{record.he}}" download>
                                    <img src="../static/img/download.png" width="64"/>
                                </a>
                            </div>
                            {% else %}
                                Not Enhanced with HE
                            {% endif %}
                        </div>
                    </div>

                    <div class="card col cardLayout border-info">
                        {% if record.dhe != None %}
                            <img class="imgLayout rounded-top" src="static/outputs/{{record.dhe}}">
                        {% endif %}
                        <div class="card-footer text-muted">
                           {% if record.dhe != None %}
                                Enhanced with DHE
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="static/outputs/{{record.dhe}}" download>
                                    <img src="../static/img/download.png" width="64"/>
                                </a>
                            </div>
                            {% else %}
                                Not Enhanced with DHE
                            {% endif %}
                        </div>
                    </div>

                    <div class="card col cardLayout border-info">
                        {% if record.eff != None %}
                           <img class="imgLayout rounded-top" src="static/outputs/{{record.eff}}">
                        {% endif %}
                        <div class="card-footer text-muted">
                            {% if record.eff != None %}
                                Enhanced with EFF
                            <div class="overlay"></div>
                            <div class="button">
                                <a href="static/outputs/{{record.eff}}" download>
                                    <img src="../static/img/download.png" width="64"/>
                                </a>
                            </div>
                            {% else %}
                                Not Enhanced with EFF
                            {% endif %}
                        </div>
                    </div>


                </div>
              </div>

        <br>

        {% endfor %}

    </div>

{% endblock %}